@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

div:focus {
  outline: none;
}

.hover-card {
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.hover-card:hover {
  transform: translateY(-10px);
  border-color: #000;
}

a:active {
  outline: none;
  background-color: transparent;
  border: none;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #a0a0a050;
}

body::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

