@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

div:focus {
  outline: none;
}

.hover-card {
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.hover-card:hover {
  transform: translateY(-10px);
  border-color: #000;
}

a:active {
  outline: none;
  background-color: transparent;
  border: none;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #a0a0a050;
}

body::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::placeholder {
  font-weight: 400;
}

.hero-bg-image {
  background-image: url('../image/photos/hero.jpg');
  background-size: cover;
  background-position: center;
}

@keyframes rotate {
  0% {
    transform: translateX(-0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-rotate {
  animation: rotate 150s linear infinite;
}

/* Define star styles */
.star {
  width: 20px; /* Adjust the star size as needed */
  height: 20px;
  background-color: transparent;
  border: 0px solid #000;
  clip-path: polygon(
    50% 0%,
    61.8% 35.3%,
    98.2% 35.3%,
    68.2% 57.7%,
    79.1% 92.3%,
    50% 73.1%,
    20.9% 92.3%,
    31.8% 57.7%,
    1.8% 35.3%,
    38.2% 35.3%
  );
  margin-right: 2px;
}

.star-filled {
  background-color: yellow;
}

.star-half-filled {
  background-color: blue;
  background-image: linear-gradient(90deg, yellow 50%, gray 50%);
  background-size: 200% 100%;
  background-position: -6px;
}